* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.caclulator {
  margin: 200px auto;
  width: 500px;
  height: 600px;
  border-radius: 30px;
  background: #496E90;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

form {
  width: 100%;
}

input {
  width: 100%;
  height: 95px;
  border-radius: 30px 30px 0px 0px;
  background: #D2E3FC;
  outline: none;
  border: none;
}

.lineofnum {
  grid-column: 1/-1;
}

.number {
  width: 103px;
  height: 103px;
  background: #B0AFCF;
  border-radius: 30px;
}

.clean {
  grid-column: 1/3;
}